/* Banner section 1 */

.banner {
    padding: 0 145px;
    height: 400px;
    display: flex;
    row-gap: 47px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #061622;
}

.banner .banner_title {
    color: #FFFFFF;
    font-size: 4rem;
}

.banner .banner_desc {
    color: #FFFFFF;
    font-size: 1.25rem;
    text-align: center;
}


/* End of Banner section 1 */

.sec_title {
    color: #0C0057;
    font-size: 36px;
}


/* Small icon used in contact card */

.sm_icon {
    width: 40px !important;
    height: 40px !important;
    background-color: white;
    border-radius: 50px;
    padding: 8px;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.sm_icon:hover {
    opacity: 0.5;
}


/* Contact form */

.contact_form {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.contact_card {
    background: linear-gradient(#0C0057, #003B82);
    color: #FFFFFF;
    padding: 32px;
    max-width: 70%;
    border-radius: 16px;
}

.contact_wrapper {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-top: 32px;
}

.contact_wrapper .icon_holder {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    padding: 8px;
    border-radius: 50px;
    margin-bottom: auto;
}

.contact_wrapper .icon_holder img {
    height: calc(100% - 10px) !important;
}

.contact_wrapper .contact_info {
    flex: 1;
}

.contact_wrapper .contact_info .title {
    font-weight: bold;
    margin-bottom: 8px;
}


/* End of  Contact form */


/* Button */

.btn01 {
    width: 200px;
    height: 50px;
    background: linear-gradient(to bottom, #35B5FF, #0E6FE4);
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn01:hover {
    box-shadow: 0 0 10px #FFAA00, 0 0 20px #FFAA00;
}