
/* Import css partial here */

@import '../css/monivoth.css';

/* End of import css partial */
*{ padding: 0; margin: 0; box-sizing: border-box; font-family:sans-serif;}
ul{list-style: none;}
ul li{text-decoration: none;}
a{text-decoration: none;}


.row{display: flex; flex-wrap: wrap; width: 100%; gap: 10px;}
.col {flex: 1;}
.col_1 {width: 8.33%;}
.col_2 {width: 16.66%;}
.col_3 {width: 25%;}
.col_4 {width: 33.33%;}
.col_5 {width: 41.66%;}
.col_6 {width: 50%;}
.col_7 {width: 58.33%;}
.col_8 {width: 66.66%;}
.col_9 {width: 75%;}
.col_10 { width: 83.33%;}
.col_11 { width: 91.66%;}
.col_12 { width: 100%;}
.row .col img{width: 100%; height: 100%;}

.mt_32{margin-top: 32px;}
.mt_16{margin-top: 10px;}
.p_64{padding: 64px;}

.gap_16{gap: 16px;}
.gap_32{gap: 32px;}

.flex{display: flex;}
.flex_col{display: flex; flex-direction: column;}
.justify_center{justify-content: center;}
.align_center{align-items: center;}
.container{width: 100%; height: auto; display: flex; flex-direction: column; align-items: center; padding: 32px;}


/* user input style */
input{width: 100%; height: 50px; border-radius: 8px; padding: 16px; border: 2px solid #061622}
textarea{min-height: 120px; border-radius: 8px; padding: 16px; border: 2px solid #061622}
/* end of user input style */

nav{display: flex; padding: 0 64px; justify-content: space-between;}
nav ul {display: flex; align-items: center;}
nav ul li { height: 100%; }
nav ul li a{display: block; height: 100%; display: flex; align-items: center; padding: 0 16px;}
